// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #59BEBA;
$gray: #0E0000;
$light-gray: #F4F4F4;


$indigo: #5002FF;
$light-purple: #54517f;
$teal: #59BEBA;
$dark-purple: #2A265F;
$bright-blue: #00C4CC;



$peach: #FF6868;
$orange: #F8A33E;
$light-orange: #FEC864;
$white: #fff;
$black: #191414;
