// episode show banner

.ep-show-banner {
  width: 100%;
  height: 420px;
  background: #2d46b9;
}

.ep-show-title {
  color: #fff;
  position: relative;
  top: -220px;
  left: 350px;
  font-size: 35px;
}

.ep-show-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 50%;
  margin: 40px;

}

.rating {
  position: relative;
  top: -200px;
  left: 348px;
  color: white;
}

.ep-show-img-container {
  // background: #fff;
  // width: 250px;
  // height: 250px;
}

.share-play-box {
  width: 325px;
  height: 250px;
  background: #fff;
  position: relative;
  top: -100px;
  left: 882px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}


.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interact-buttons {
  width: 300px;
  margin: 0 auto;
  border-style: none;
  padding: 12px 0px 11px;
  margin: 5px 0px 5px 0px;
  border-radius: 7px;
}

.play-button {
  background: #DC4A65;
  color: #fff;
}

.black-border-button {
  border: 1px solid $black;
  background: #fff;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.icon {
  &:hover {
    background: $light-gray;
    border: 1px solid grey;
    padding: 10px;
  }
}


.tab-container {
  width: 600px;

}

.page-content {
  width: 80%;
  margin: 30px;
}

.content-col-left {
  width: 60%;
}

.content-col-left {
  width: 40%;
}
