.podcast-show-banner {
  width: 100%;
  padding-bottom: 195px;
  background: $light-orange;
  padding-top: 85px;
  position: relative;
}


.pod-show-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  position: absolute;
  bottom: -124px;
  left: 575px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#image-pod {
  border: 5px solid #fff;
}

.podcast-show-info {
  opacity: 0.8;
}

.flex-btwn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.pod-description {
  width: 80%;
  font-size: 18px;
  margin: 0 auto;
  opacity: 0.8;
  line-height: 1.5;
}

.pod-show-title {
  font-size: 38px;
  text-align: center;
}

.pod-index-container {
  margin-top: 210px;
  margin-bottom: 100px;

  a {
    text-decoration: none;
  }
}


.pod-index-card {
  background: #fff;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  display: flex;
  &:hover {
    top: -10px;
  }
}

.podcast-list {
  color: $black;
  width: 100%;
  padding: 20px 40px 20px 40px;
  a {
    text-decoration: none;
  }
}

.right-arrow {
  margin-right: 20px;
}

