<div class="form_group search-wrapper">
    <%= form_tag podcasts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      id: "search-input-home",
      placeholder: "Find your next episode"
    %>
    <%= submit_tag "Search", class: "search-button" %>
    <% end %>
</div>

