<div class="form_group search-box search-wrapper search-size">
  <div>
    <%= form_tag podcasts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      id: "search-input-home",
      placeholder: "Find your next episode"
    %>
  </div>
  <div>
    <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  </div>
</div>

