<div class="form_group d-flex">
  <div>
    <%= form_tag podcasts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an episode"
    %>
  </div>
  <div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
