<%= simple_form_for [episode, review] do |f| %>
  <%= f.input :content, placeholder: "Leave your review here", label: false %>
  <div class="starrating risingstar d-flex">
    <%= f.input_field :rating, boolean_style: :inline, collection: 1..5, as: :radio_buttons %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
