<% content_for(:navbar_class, "navbar-home") %>

<div class="banner blue">
  <div class="container">
    <div class="banner-content red">
      <div class="green">
        <h1>The World's <br> Podcast <br> Database</h1>
      </div>
      <div class="purple">
        <p>Search bar</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
