
.banner {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  background-image: url('background-img-1.jpg');
  background-size: cover;
  object-fit: cover;

}

.banner-content {
  // margin-top: -120px;
  // display: flex;
  // justify-content: flex-end;
}


// podcast index banner

.podcast-index-banner {
  background: #fff;
  width: 100%;
  height: 400px;
  background: #F09D37;

}

.index-text {
  position: relative;

}

.index-text-content {
  position: absolute;
  top: 145px;
  right: 18px;
  width: 40%;
  color: white;
}



