
.banner {
  height: 100vh;
  max-width: 100vw;
  background-image: asset-url('background-img-1.jpg');
  background-size: cover;
  object-fit: cover;
  display: flex;
  .container {
    width: 50%;
  }
}

.banner-info {
  position: relative;
  top: 180px;
  right: 45px;
}

// podcast index banner

.podcast-index-banner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F8A33E;
  padding-top: 40px;
}

.index-text-content {
  width: 40%;
  color: black;
  opacity: 0.9;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  h1, h2, h3, p {
        margin: 20px 20px;
  }

  h1 {
    font-size: 60px;
  }
}

// review index banner

.review-index-banner {
  width: 100%;
  height: 500px;
  background: $peach;
  background-size: cover;

  h1 {
    font-size: 60px;
  }
}

.review-text-content {
  width: 40%;
  color: $black;
  margin-left: 200px;
  padding-top: 100px;

  p, h5 {
    margin-top: 20px;
  }
}
