.btn-reviews {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  background: #ea2c62;
  transition: background 0.3s ease;
  a {
    color: white;
  }
}

.btn-reviews:hover {
  background: #ea2c62;
  opacity: 0.8;
  a {
    color: white;
  }
}


.btn-black {
  background: $black;
  border-radius: 100px;
  color: #fff;
  border: 0;
  padding: 15px 30px;
  margin-bottom: 20px;
  display: inline-block;

  &:hover {
    color: $black;
    background: transparent;
    border: 1px solid $black;
    text-decoration: none;
  }

}

#favorite-delete {
  color: #ea2c62;
}
