.btn-reviews {
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: bold;
  background: #FF6868;
  transition: background 0.3s ease;
  a {
    color: white;
  }
}

.btn-reviews:hover {
  background: #FF6868;
  opacity: 0.8;
  a {
    color: white;
  }
}


.btn-black {
  background: $black;
  border-radius: 100px;
  color: #fff;
  border: 0;
  padding: 15px 30px;
  margin-bottom: 20px;
  display: inline-block;

  &:hover {
    color: $black;
    background: transparent;
    border: 1px solid $black;
    text-decoration: none;
  }

}

#favorite-delete {
  color: #ea2c62;
}

.stars {
  color: $orange;
}

.remove-fave {
  background: $orange;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: $black;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;

  &:hover {
    text-decoration: none;
    color: black;
    opacity: 0.8;
  }
}

.add-to-fave {
  background-color: $peach;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: $black;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  &:hover {
    opacity: 0.8;
  }
}
