.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.border-img {
  border-radius: 8px 0px 0px 8px;
  width: 120px !important;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.podcast-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.pod-name {
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}

.card-heading a {
  text-decoration: none;
  color: $gray;
}

.card-heading a:hover {
  color: $light-gray;
}

.card-product {
  display: flex;
  border-radius: 10px;
  width: 600px;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #fff;
  margin: 16px;
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
}

.podcast-text {
  padding: 8px;
  width: 480px;
  p {
    margin-bottom: 0;
  }

}

.card-my-reviews {
  border-radius: 10px;
  width: 600px;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #E6E6E6;
  margin: 16px;
  padding: 8px;
}

.card-my-reviews-buttons {
  justify-content: space-between;
  display: flex;
}

.review-card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


