.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
}

.navbar .logo {
  width: 100px;
}
