.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
}

.navbar .logo {
  width: 260px;
}

#navbarDropdown {
  width: 24px;
  cursor: pointer;
}

.nav-home {
  position: fixed;
  background: transparent;
  width: 100%;

}


// On scroll

.scrolling-active {
  background-image: linear-gradient(to right, $bright-blue, $indigo);
  transition: background 0.5s ease-in-out;
  z-index: 1;
  &.nav-home {
    height: 60px;
  }
}

