.review-cards-container {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.podcast {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  overflow: hidden;
  height: 320px;
}

.podcast h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.podcast h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.review-preview {
  background-color: #fff;
  color: $black;
  padding: 30px;
  max-width: 200px;
  border-right: 2px solid #C8C8C8;
}

.review-info {
  padding: 30px;
  width: 100%;
  position: relative;
}


.review-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 85%;
  a {
  text-decoration: none;
  }
}

// Star Rating

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.starrating {
  padding-bottom: 20px;
}
.starrating input {
  display: none;
}

.starrating > div {
  padding-left: 5px;
}

.starrating > div:first-of-type  {
  padding-left: 0;
}

.starrating label {
  visibility: hidden;
}

.starrating label:after {
  content: "\f005"; /* Star */
  visibility: visible;
  margin: 1px;
  font-size: 1.7em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating label
{
  color: gray; /* Start color when not clicked */
  opacity: 0.5;
}

.starrating .form-check > input:checked ~ label {
  color: $peach;
  opacity: 1;
}

.starrating .form-check > input:hover ~ label
{ color: $peach ;  }
