.podcast {
  background-color: orange;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  overflow: hidden;
  height: 320px;
}

.podcast h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.podcast h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.podcast-preview {
  background-color: $dark-purple;
  color: #fff;
  padding: 30px;
  max-width: 200px;
}

.review-info {
  padding: 30px;
  width: 100%;
}


.review-cards-container {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.ep-name-link {
  color: $dark-purple;

  &:hover {
    text-decoration: none;
    color: $light-purple;
  }

  .review-buttons {
    text-align: center;
  }
}

