

.search-wrapper {
  display: inline-block;
  border-radius: 100px;
  border: 1px solid $black;
  form {
    display: flex;
    #search-input-home {
      min-width: 220px;
      font-family: poppins;
      background: transparent;
      padding: 4px;
      padding-left: 20px;
      border-style: none;
      border-radius: 100px;
      border-style: none;
      background: transparent;

      :focus {
        border-style: none;
      }
    }
    .search-button {
      font-family: roboto;
      color: #fff;
      border: 0;
      margin-left: 14px;
      background: $black;
      padding: 4px 8px;
      padding-right: 20px;
      border-radius: 0px 100px 100px 0px;
    }
  }
}




.form-control::placeholder {
    color: $black;
}

.form_group search-wrapper {
  font-family: poppins;
}
