.search-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 6px;
  border-radius: 18px;
  color: $indigo;
  border: 0;
  margin-right: 8px;
  background: #fff;
}

.search-wrapper {
  display: inline-block;
  position: relative;
  border-radius: 18px;
  margin-left: 20px;
}

.search-input {
  padding-right: 72px;
  background: $indigo;
  border-radius: 18px;
  border: 1px solid $indigo;
    ::placeholder {
    color: #fff;
  }
}
