.search-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 6px;
  border-radius: 18px;
  color: $black;
  border: 0;
  margin-right: 8px;
  background: #fff;
  padding: 3px 6px;
}

.search-wrapper {
  display: inline-block;
  position: relative;
  border-radius: 100px;
  height: 42px;
  border: 1px solid $black;
}


#search-input-home {
  background: transparent;
  padding: 0px 180px 0px 10px;
  border-style: none;
  border-radius: 100px;
  border-style: none;
  background: transparent;

  :focus {
    border-style: none;
  }
}

