.sound-waves-div {
  display: flex;
  justify-content: center;
}



.sound-waves {
  top: 25%;
  left: 50%;
  list-style: none;
  padding: 0;

  li {
    height: 0.938em;
    width: 0.313em;
    display: inline-block;
    margin-top: 5.625em;
    animation: loading 2.5s infinite;
    border-radius: 0.625em;
    border-bottom: 0.063em solid transparent;
  }
}


@keyframes loading {
  0% {
    background-color: $indigo;
  }
  11% {
    background-color: $indigo;
  }
  22% {
    background-color: $indigo;
  }
  33% {
    background-color: $indigo;
  }
  44% {
    background-color: $indigo;
  }
  50% {
    height: 6.250em;
    margin-top: 0.000em;
  }
  55% {
    background-color: $indigo;
  }
  66% {
    background-color: $indigo;
  }
  77% {
    background-color: $indigo;
  }
  88% {
    background-color: $indigo;
  }
  99% {
    background-color: $indigo;
  }
  100% {
    background-color: $indigo;
  }
}

li:nth-of-type(1) {
  animation-delay: 0.25s;
}
li:nth-of-type(2) {
  animation-delay: 0.5s;
}
li:nth-of-type(3) {
  animation-delay: 0.75s;
}
li:nth-of-type(4) {
  animation-delay: 1s;
}
li:nth-of-type(5) {
  animation-delay: 1.25s;
}
li:nth-of-type(6) {
  animation-delay: 1.5s;
}
li:nth-of-type(7) {
  animation-delay: 1.75s;
}
li:nth-of-type(8) {
  animation-delay: 2s;
}
li:nth-of-type(9) {
  animation-delay: 2.25s;
}
li:nth-of-type(10) {
  animation-delay: 2.5s;
}
