<h2 class="text-center m-5">Podcasts</h2>
<div class="podcast-cards">
    <% if @podcasts.empty? %>
      <p>Sorry we could not find your result</p>
    <% else %>
      <% @podcasts.each do |podcast| %>
        <div class="card-product">
          <img src="https://rachelcorbett.com.au/wp-content/uploads/2018/07/Neon-podcast-logo.jpg" alt="">
          <div class="podcast-text">
            <h5><%= link_to podcast.name, podcast, class: "pod-name" %></h5>
            <p> <%= podcast.description.truncate(120) %> </p>
            <p> <small> <%= podcast.category %></small> </p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

