<div class="podcast-index-banner">
  <div class="index-text">
    <div class="index-text-content">
      <h2 class="mb-3">All Our Podcasts</h2>
      <p>Can't find what you're looking for?</p>
      <button class="btn btn-primary ml-5">Contact Us</button>
    </div>
  </div>
</div>


<div class="podcast-cards">
    <% if @podcasts.empty? %>
      <p>Sorry we could not find your result</p>
    <% else %>
      <% @podcasts.each do |podcast| %>
        <div class="card-product">
          <%= cl_image_tag podcast.photo.key, alt: "alttext" %>
          <div class="podcast-text">
            <h5><%= link_to podcast.name, podcast, class: "pod-name" %></h5>
            <p> <%= podcast.description.truncate(120) %> </p>
            <p> <small> <%= podcast.category %></small> </p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
