<div class="podcast-index-banner">
  <div>
    <div class="index-text-content">
      <h1>All Podcasts</h1>
      <h3>From business to lifestyle</h3>
      <h3>Dive into your next podcast here</h3>
      <p>Can't find what you're looking for?</p>
      <button class="btn-black">Contact Us</button>
    </div>
  </div>
</div>

<div class="page-margin">
  <div class="podcast-cards">
    <% if @podcasts.empty? %>
      <p>Sorry we could not find your result</p>
    <% else %>
      <% @podcasts.each do |podcast| %>
        <div class="card-product">
          <%= cl_image_tag podcast.photo.key, alt: "alttext", class: "border-img" %>
          <div class="podcast-text">
            <h5><%= link_to podcast.name, podcast, class: "pod-name" %></h5>
            <p> <%= podcast.description.truncate(120) %> </p>
            <p> <small> <%= podcast.category %></small> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
