<h2 class="text-center">Podcasts</h2>
<div class="podcast-cards">
    <% if @podcasts.empty? %>
      <p>Sorry we could not find your result</p>
    <% else %>
      <% @podcasts.each do |podcast| %>
        <div class="card-product">
          <%= cl_image_tag podcast.photo.key, alt: "alttext" %>
          <div class="podcast-text">
            <h5><%= link_to podcast.name, podcast %></h5>
            <p> <%= podcast.description %> </p>
            <p> <small> <%= podcast.category %></small> </p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

