<!-- Meta Information -->
<% content_for :meta_title, "#{@podcast.name} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @podcast.description %>
<% content_for :meta_image, cl_image_path(@podcast.photo.key) %>
<!-- Meta Information -->

<div class="container"></div>
<div class="cards">
<%= @podcast.name %>

<ul>
  <% @episodes.each do |episode| %>
  <li><%= link_to episode.name, episode %></li>
  <% end %>
</ul>
</div>
</div>
